<!DOCTYPE html>
<html>
  <head>
    <title>Workwithme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' type="stylesheet">
  </head>

  <body>
  	<% flash.each do |key, value| %>
  		<%= value %>
  	<% end %>
    <%= yield %>
  </body>
</html>
