<div class="row">

  <!-- User Prof Box-->

  <div class="col-md-3">
    <!-- Inner Padding Before Border-->
    <div style="padding:20px;">
      <!-- Border Box -->
      <div class="profile-container" style="">
        <div class="image-prof-container">
          <img class="avatar" src="<%= image_url "user.png" %>">
        </div>
        <div class="profile-header"><h2>John Smith</h2></div>
        <p class="profile-handle">@johnsmith</p>
        <div class="profile-location">San Francisco, CA</div>
        <div class="profile-text">Voluptas explicabo velit ratione autem quo totam qui eveniet. Officia provident repudiandae provident rerum. Ipsa explicabo et nobis. Nesciunt omnis et modi aspernatur tempora. Magnam corporis doloremque ut deserunt sed.</div>
        <div class="profile-links"><a href="#">assemblymade.com</a></div>
      </div>
    </div>
  </div>

  <!-- End User Prof Box-->

  <div class="account-box col-md-6 mainbod mid-section" style="margin-top:50px;margin-bottom:20px;">
    Account ID: <%= @account.id %>
    Session ID: <%= session[:account_id] %>


    <%= link_to "Create A Project", new_project_path %>
    <%= link_to "Log Out", logout_path, method: :delete %>

    <p>Add Tags:</p>
    <div>
      <%= form_for [@account, @subscription], data: { id: @account.id } do |f| %>

        <div style="padding:20px;">
          <div class="input-group">
             <%= f.text_field :category, id: "category-input", class: "form-control" %>
             <span class="input-group-btn">
                <%= f.submit "Add Category", id: "js-tag", class: "btn btn-cat" %>
             </span>
          </div>
        </div>

      <% end %>
    </div>

      <h1>Newsfeed</h1>

      <%= render @account.newsfeed_projects.uniq %>
  </div>

  <div class="mid-section col-md-3">
    <div class="interests">Your Interests</div>
    <div id="subpanel"><%= render @account.interests %></div>
  </div>

</div>
